body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Pridi', serif;
}
:root{
    --color-main-1:#000;
    --color-main-2:#fff;
}
.container{
    width: 100%;
    margin:0;
    height: inherit;
    display: flex;
}
.right_container {
    width: 50%;
    height: 100vh;
    background: var(--color-main-1);
}
.left_container{
    width: 50%;
    height: 100vh;
    background: var(--color-main-2);
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px 0px 70px; 
    margin-bottom: 0px;
}
.header img{
    width: 55px;
    height: 65px;
    padding-top: 0;
    padding-right: 20px;
}
.header p{
    padding-top: 0;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
}
.main-text{
    width: 100%;
    padding-left: 70px;
    padding-right: -70px;
    margin-top: -20px;
    padding-top: 0px;
}
.main-text p{
    width: 85%;
    padding-top: 0px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.3px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.upper-form{
    display: flex;
    padding-left: 70px;
}
.upper-form-left{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}
.upper-form-left label{
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0 10px 0;
}
.upper-form-left input{
    height: 50px;
    width: 180px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-main-1);
    padding-left: 20px;
    color: var(--color-main-2);
}
.upper-form-right {
    display: flex;
    flex-direction: column;
}
.upper-form-right label {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0 10px 0;

}
.upper-form-right select {
    height: 50px;
    width: 280px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--color-main-1);
    padding-left: 20px;
    color: var(--color-main-2);
}
.middle-form{
    display: flex;
    justify-content: center;
    padding: 30px 0px 10px 0;
    transition: all 1s;
}
.middle-form i{
    transform: rotate(90deg);
    font-size: 24px;
}
.lower-form{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}
.lower-form label{
     font-size: 18px;
     font-weight: 400;
     padding: 10px 0 10px 0;

}
.lower-form select{
      height: 50px;
      width: 505px;
      border: none;
      font-size: 14px;
      font-weight: 500;
      background-color: var(--color-main-1);
      padding-left: 20px;
      color: var(--color-main-2);

}
.submit{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#button{
    width: 150px;
    padding: 15px 15px;
}
